* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#wrapper {
    min-height: 100vh; 
    min-width: 100vh;
}

h1 {
    margin: 1em 0em;
}

button#btn {
    width: 100%;
    margin: 0.5em 0em;
}

button#btn:hover {
    cursor: pointer;
}

#todoCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.todoCard {
    position: relative;
    margin:0.5em;
}

textarea {
    padding: 2px 5px;
}

.delBtn i.my-trash-can {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: black;
    font-size: 1em;
}

.delBtn i.my-trash-can:hover {
    cursor: pointer;
}